@CHARSET "UTF-8";

#boards {
	padding: 1px;
	border: 2px inset #021a40;
	position: center;
	height: 250px;
	width: 200px;
	background-color: #e6e6e6;
}


#indexBody {
	position: relative;
}

#indexBG {
	background-image: url("topBoard.jpeg");
	background-repeat: no-repeat;
	background-size: cover;
	opacity: .5;
	width: 800px;
	height: 500px;
	background-color: grey;
}

#innerDiv {
	width: 800px;
	height: 500px;
	position: absolute;
	top: 0;
	left: 0;
}

#index {
	position: relative;
	bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

/* #indexMenu {
	position: relative;
	bottom: 5px;
	left: 0px;
	text-align: center;
} */

#indexUl {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.indexLi {
	display: block;
	width: 200px;
	background-color: #dddddd;
}

#remove {
	position: fixed;
	background-image: url("sick.jpeg");
	background-opacity: 0.2;
	background-repeat: no-repeat;
	background-size: cover;
}

#edit {
	background-image: url("underShot.jpeg");
	background-repeat: no-repeat;
	background-size: cover;
}

#editForm {
	position: fixed;
	margin-left: -150px;
	bottom: 25px;
	left: 50%;
	width: 100%;
}

#list {
	float: right;
	width: 250px;
	height: 300px;
	bottom: 30px;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

li {
	float: left;
}

li a {
	display: block;
	padding: 8px;
	background-color: #dddddd;
}

#build {
	position: absolute;
	/* 	background-image: url("throw.jpeg"); */
	background-repeat: no-repeat;
}

 #viewAll {
	display: block;
	background-color: grey;
	color: #505051;
	background-opacity: 0.2;
}

#viewAllDiv {
	display: block;
	background-color: grey;
	opacity: 0.8;
	background-image: url("one.jpeg");
	background-opacity: 0.2;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: bottom;
	color: #333333;
} 
/* #OuterDiv{
	background-image: url("one.jpeg");
opacity:.2;
width:300px;
height:300px;
}
#InnerDiv{
	width:300px;
height:300px;
position:absolute;
top: 0;
left:0;
} */
#topCont {
	display: float left;
	width: 100%;
	background-color: grey;
	color: #999999;
}

#container-viewAll1 {
	float: left;
	width: 30%;
	background-color: grey;
	color: #999999;
		background-opacity: 0.2;
}

#container-viewAll2 {
	float: left;
	width: 40%;
	background-color: grey;
	color: #999999;
}

#container-viewAll3 {
	float: right;
	width: 30%;
	background-color: grey;
	color: #999999;
}